body {
  background-color: #004D69;
  font-family: Montserrat;
}

h1 {
  color: #0171BC;
  text-align: center;
  padding-top: 100px;
}

h2 {
  text-align: center;
  padding-top: 40px;
}

h3 {
  text-align: center;
  padding-top: 20px;
}

.div-header {
  height: 260px;
  background-image: url(/images/mantis_shrimp_logo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 20%;
}

.menubar {
  padding-top: 36px;
  text-align: center;
}

.menubar a{
  text-decoration: none;
  padding: 18px 60px;
  margin-right: 10px;
  text-align: center;
  color: white;
  background-color: royalblue;
  border: 1px solid white;
  border-radius: 100px;
}

table {
  margin: 0 auto;
  text-align: center;
}

.div-paragraph {
  float: left;
  margin: 0 1.5%;
  width: 64%;
}

.div-aside {
  text-align: center;
  float: right;
  margin: 0 1.5%;
  width: 30%;
}

.div-footer {
  text-align: center;
  clear: both;
}
